<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineAdmission</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdmissionSystem</display-name>
    <servlet-name>AdmissionSystem</servlet-name>
    <servlet-class>student.com.AdmissionSystem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmissionSystem</servlet-name>
    <url-pattern>/AdmissionSystem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLogin</display-name>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>login.com.StudentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/StudentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>loginAdmin.com.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admission</display-name>
    <servlet-name>Admission</servlet-name>
    <servlet-class>student.com.Admission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admission</servlet-name>
    <url-pattern>/Admission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDataServlet</display-name>
    <servlet-name>EditDataServlet</servlet-name>
    <servlet-class>edit.com.EditDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDataServlet</servlet-name>
    <url-pattern>/EditDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChallanServlet</display-name>
    <servlet-name>ChallanServlet</servlet-name>
    <servlet-class>challan.com.ChallanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChallanServlet</servlet-name>
    <url-pattern>/ChallanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAdmin</display-name>
    <servlet-name>RegisterAdmin</servlet-name>
    <servlet-class>loginAdmin.com.RegisterAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAdmin</servlet-name>
    <url-pattern>/RegisterAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAdmin</display-name>
    <servlet-name>SelectAdmin</servlet-name>
    <servlet-class>loginAdmin.com.SelectAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAdmin</servlet-name>
    <url-pattern>/SelectAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDocuments</display-name>
    <servlet-name>ShowDocuments</servlet-name>
    <servlet-class>loginAdmin.com.ShowDocuments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDocuments</servlet-name>
    <url-pattern>/ShowDocuments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllRecord</display-name>
    <servlet-name>SelectAllRecord</servlet-name>
    <servlet-class>loginAdmin.com.SelectAllRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllRecord</servlet-name>
    <url-pattern>/SelectAllRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveOrDeclineServlet</display-name>
    <servlet-name>ApproveOrDeclineServlet</servlet-name>
    <servlet-class>com.approvedisaprove_mail.ApproveOrDeclineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveOrDeclineServlet</servlet-name>
    <url-pattern>/ApproveOrDeclineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>login.com.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReLoginStudent</display-name>
    <servlet-name>ReLoginStudent</servlet-name>
    <servlet-class>login.com.ReLoginStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReLoginStudent</servlet-name>
    <url-pattern>/ReLoginStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReuploadsServlet</display-name>
    <servlet-name>ReuploadsServlet</servlet-name>
    <servlet-class>student.com.ReuploadsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReuploadsServlet</servlet-name>
    <url-pattern>/ReuploadsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAdmin</display-name>
    <servlet-name>LogoutAdmin</servlet-name>
    <servlet-class>loginAdmin.com.LogoutAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAdmin</servlet-name>
    <url-pattern>/LogoutAdmin</url-pattern>
  </servlet-mapping>
</web-app>